.OBJECTS_Five{
  background-image: url(/img/OBJECTS.svg);
  background-position: 193px 15px;
  background-repeat: no-repeat;
  width: 100%;
}

.c_font {
  font-size: 20px;
}

.classBtnFour {
  top: 65%;
  right: -5%;
}

.cardTo {
  &:hover {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 32px;   
      box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.1);         
    }    
  }
}

@media (max-width: 1024px) {
  .OBJECTS_Five {
    background-image: url(/img/OBJECTS.svg);
    background-position: left 15px;
    background-repeat: no-repeat;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .OBJECTS_Five {
    background-image: url(/img/OBJECTS.svg);
    background-position: left 15px;
    background-repeat: no-repeat;
    width: 100%;
  }
}

@media (max-width: 414px) {
  .c_font {
    font-size: 16px;
  }
}
