.btn-warning{
  &:hover{
    background-color: #cfcfcf !important;
  }
}

.category {
  bottom: 34px;
  left: 40px;
}

.product_img{
  height: 90%;
}

.card_Favorite {
  top: 35px;
  right: 35px;  
}

