.OBJECTS_Five {
  background-image: url(/img/OBJECTS.svg);
  background-position: 193px 15px;
  background-repeat: no-repeat;
  width: 100%;
}

.c_font {
  font-size: 20px;
}

.classBtnFour {
  top: 65%;
  right: -5%;
}

.cardTo {
  &:hover {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 32px;
      box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

.card_Favorite {
  background-color: transparent;
  border: transparent;
}

@keyframes jump-shaking {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}

.rise-shake {
  &:hover {
      animation: jump-shaking 0.83s infinite;
  }
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(17deg);
  }
  55% {
    transform: translateY(-9px) rotate(-17deg);
  }
  65% {
    transform: translateY(-9px) rotate(17deg);
  }
  75% {
    transform: translateY(-9px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@media (max-width: 1024px) {
  .OBJECTS_Five {
    background-image: url(/img/OBJECTS.svg);
    background-position: left 15px;
    background-repeat: no-repeat;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .OBJECTS_Five {
    background-image: url(/img/OBJECTS.svg);
    background-position: left 15px;
    background-repeat: no-repeat;
    width: 100%;
  }
}

@media (max-width: 414px) {
  .c_font {
    font-size: 16px;
  }
}
