.box-bg10 {
    background-image: url(/public/img/Object.svg);
    background-position: right bottom -100px;
    background-repeat: no-repeat;
    width: 100%;
  }

  .ein_w {
    text-align:justify
  }