.box-bg10 {
  background-image: url(/public/img/Object.svg);
  background-position: right bottom -100px;
  background-repeat: no-repeat;
  width: 100%;
}

.ein_w {
  text-align: justify;
}


@media (max-width: 540px) {
  .ein_center {
    text-align: center;
  }
  .OBJECTS05 {
    background-image: url(/img/OBJECTS.svg);
    background-position: center 15px;
    background-repeat: no-repeat;
    width: 100%;
  }
}
