.navbar-brand {
  margin-top: 80px !important;
}

.navbar {
  height: 88px;   
}

.nav-link {  
  &:hover, 
  &:focus {
      transform: translateY(-2px);        
  }       
}

.navbar-toggler {
  top: 10px;
}


.menu-background {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(164, 139, 120, 0.8); 
  z-index: 999; 
}

.menu-background.active {
  display: block; 
}




@media (max-width: 991px) {  
  .navbar-brand {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .navbar {
    padding-top: 0 !important;
    height: 56px !important;  
  }
  
  .container.bg-primary {
    background-color: $primary; 
    transition: background-color 0.5s ease;
  }
  
  .container.rounded {    
    border-radius: 50px !important;    
  }
  
  
    .navbar-toggler {
    border: 0 !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
}
  
}


@media (max-width: 767px) { 
  .navbar-brand {
    margin-left: 30%;
  }

}

@media (max-width: 540px) {
  .ms {
    margin-left: 88px;
  }
  .navbar-brand {
    margin-left: 23%;
  }
}

@media (max-width: 430px) {
  .ms {
    margin-left: 48px;
  }
  .navbar-brand {
    margin-left: 28%;
  }
}

@media (max-width: 414px) {
  .ms {
    margin-left: 48px;
  }
}

@media (max-width: 412px) {
  .ms {
    margin-left: 48px;
  }
  .navbar-brand {
    margin-left: 26%;
  }
}

@media (max-width: 375px) {  
  .ms {
    margin-left: 48px;
  }
}

@media (max-width: 360px) {
  .ms {
    margin-left: 40px;
  }
  .navbar-brand {
    margin-left: 24%;
  }
}

@media (max-width: 280px) {
  .ms {
    margin-left: 0;
  }
}
