.navbar-brand {
  margin-top: 80px !important;
}

.navbar {
  height: 88px;   
}

.nav-link {  
  &:hover, 
  &:focus {
      transform: translateY(-2px);        
  }       
}

.navbar-toggler {
  top: 15%;
}


@media (max-width: 991px) {  
  .navbar-brand {
    margin-top: 0 !important;
  }
  .navbar {
    padding-top: 0 !important;
    height: 56px !important;  
    // .container {
    //   background-color: $primary;  
    //   border-radius: 40px;
    // }  
  }
  .navbar-brand {
    padding-top: 0 !important;
  } 
  
  .navbar-toggler {
    border: 0 !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
}


@media (max-width: 767px) { 
  .navbar-brand {
    margin-left: 30%;
  }

}

@media (max-width: 540px) {
  .ms {
    margin-left: 88px;
  }
  .navbar-brand {
    margin-left: 23%;
  }
}

@media (max-width: 430px) {
  .ms {
    margin-left: 48px;
  }
  .navbar-brand {
    margin-left: 28%;
  }
}

@media (max-width: 414px) {
  .ms {
    margin-left: 48px;
  }
}

@media (max-width: 412px) {
  .ms {
    margin-left: 48px;
  }
  .navbar-brand {
    margin-left: 26%;
  }
}

@media (max-width: 375px) {  
  .ms {
    margin-left: 48px;
  }
}

@media (max-width: 360px) {
  .ms {
    margin-left: 40px;
  }
  .navbar-brand {
    margin-left: 24%;
  }
}

@media (max-width: 280px) {
  .ms {
    margin-left: 0;
  }
}
