.OBJECTS04 {
  background-image: url(/img/OBJECTS.svg);
  background-repeat: no-repeat;
  width: 335px;
  height: 320px;
  padding-top: 50px;
}

@media (max-width: 540px) {
  .OBJECTS04 {
    background-image: url(/img/OBJECTS.svg);
    background-repeat: no-repeat;
    width: 325px;
    height: 320px;
    padding-top: 50px;
  }
}
