.OBJECTS04 {
    background-image: url(/public/img/OBJECTS.svg);
    background-repeat: no-repeat;
    width: 400px;
    height: 320px;
    padding-top: 50px;
  }

  @media (max-width: 540px) {
    .OBJECTS04 {
      background-image: url(/public/img/OBJECTS.svg);
      background-repeat: no-repeat;
      width: 360px;
      height: 320px;
      padding-top: 50px;

    }
  }